<h3>New Import</h3>

<form action="/imports" method="post" enctype="multipart/form-data">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <p><b>Type which header should be used for each field!</b></p>

  <% @import.errors.full_messages.each do |error| %>
    <p style="color: red;"><%= error %></p>
  <% end %>

  <% import_fields.each do |import_field| %>
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <label class="col-form-label" for="<%= import_field %>"><%= import_field.capitalize %> -> </label>
      </div>

      <div class="col-auto">
        <input class="form-control" placeholder="Your header" type="text" id="<%= import_field %>" name="import[headers][<%= import_field %>]" required="true">
      </div>
    </div>

    <br>
  <% end %>

  <input class="form-control" type="file" id="file" name="import[file]" required="true"/>
  <br>
  
  <button type="submit" class="btn btn-primary">Import</button>
</form>
